<div class="container mt-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-danger text-white">
            <h4 class="card-title">Liste des demandes de congé</h4>
            <p class="card-category">Toutes les demandes de congé de l'utilisateur connecté</p>
          </div>
          <div class="card-body">
            <!-- Champ de recherche -->
            <input type="text" [(ngModel)]="searchTerm" placeholder="Rechercher..." class="form-control mb-3">
  
            <div class="row">
              <div class="col-md-4" *ngFor="let request of filteredRequests">
                <div class="card mb-4">
                  <div class="card-body">
                    <h5 class="card-title">Date de début: {{ request.startDate | date: 'dd/MM/yyyy' }}</h5>
                    <p class="card-text"><strong>Durée:</strong> {{ request.duration }} jour(s)</p>
                    <p class="card-text"><strong>Statut:</strong> {{ request.statuRequest }}</p>
                  </div>
                  <div class="card-footer text-muted">
                    <button (click)="viewRequestDetails(request)" class="btn btn-info">Voir Détails</button>
                  </div>
                </div>
              </div>
            </div>
  
            <div *ngIf="filteredRequests.length === 0" class="text-center">
              <p>Aucune demande de congé trouvée pour l'utilisateur connecté.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  